/**
 *
 * Grobal Settings
 *
 */


/* http://cssnext.io/features/#custom-media-queries */

@custom-media --sm (width >=40em);
@custom-media --md (width >=52em);
@custom-media --lg (width >=64em);
@custom-media --lthmd (width <52em);
html {
    @media(--lthmd) {
        font-size: 80%;
    }
}
