/**
 *
 * Forms
 *
 * form, fieldset, label, input, button,
 * select, datalist, optgroup, option,
 * textarea, output
 *
 */

.btn {
    color: #000;
    font-weight: 400;
    &:focus,
    &:hover {
        color: #000;
    }
}
