/**
 *
 * Sections
 *
 * body, section, nav, article, aside,
 * h{1-6}, header, footer, address
 *
 */

body {
    font-family: var(--font-sans);
    color: var(--theme-primary);
    background-color: var(--theme-bg);
}